<!DOCTYPE html>
<html lang="en">
<head>
	<title>Task ManagerSSS</title>
	<link rel="stylesheet" href="assets/css/todo.min.css"/>
</head>

<body ng-app="vidyartha">
	
	<div class="container" ng-controller="taskCtrl">

		<h1 class="heading">TODO LIST</h1>

		<div class="row">
				<div class="col-md-12" >
					<div class="translucant">
					<input type="text" placeholder="Enter tasks to be done" class="task" ng-model="task" ng-keyup="task_functions.addTask($event)"/>
					</div>
				</div>
		</div>

		<div class="row">
		    <div class="col-md-12 col-sm-12 col-lg-12">
                <!-- Nav tabs -->
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#todaysTask" role="tab" data-toggle="tab">Today's Task</a></li>
                        <li role="presentation"><a href="#finishedTasks" role="tab" data-toggle="tab">Finished Today's Task</a></li>
                        <li role="presentation"><a href="#taskHistory" role="tab" data-toggle="tab">Task History</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="todaysTask">
							<div class="row" ng-repeat="task in todayTasks track by $index" ng-if="util_functions.isTimstampToday(task.task_id) == 'TODAY'">
								<!-- directive -->
								<data-task-row/>
							</div><!-- .row -->

                        </div><!-- #todaysTask -->

                        <div role="tabpanel" class="tab-pane" id="finishedTasks">
                        	
                        	<div class="row" ng-repeat="task in todayTasks | filter:{completed:true} track by $index" ng-if="util_functions.isTimstampToday(task.task_id) == 'TODAY'">
								<!-- directive -->
								<data-task-row/>
							</div><!-- .row -->

                        </div><!-- #finishedTasks -->
                        
                        <div role="tabpanel" class="tab-pane" id="taskHistory">
                        	
                        	<div class="row" ng-repeat="task in todayTasks track by $index" ng-if="util_functions.isTimstampToday(task.task_id) == 'PAST'">
								<!-- directive -->
								<data-task-row/>
							</div><!-- .row -->

                        </div><!-- #taskHistory -->
                    </div><!-- .tab-content -->
				</div><!-- .card -->
            </div><!-- .col-md-6 -->
		</div><!-- .row -->

	</div><!-- div.container -->	

	<script src="assets/js/todo.min.js"></script>
	<script src="assets/js/app.js"></script>
</body>
</html>